#logoBar{
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    
}

.uh{
    position: relative;
}

body{
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.white{
    color:white
}
.pink{
    color:rgb(247,33,189)
}
h1{
    color:white
}

#footer {
    position: fixed;
    width: 100%;
    margin-top: 900px;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 540;
    height: 100px;
}